//import '@/assets/font/index.less';
@import '../../assets/font/index.less';

:global{
  body, html, div,p,li,ui{
    padding: 0;
    margin: 0;
    font-family: "Inter";
  }
  body, html{
    font-family: Inter;
    width: 100%;
    height: 100%;
    background: #0D0D0D;
    scrollbar-width: 0;
  }
  a{
    color: inherit;
    text-decoration: none;
  }
  //body::-webkit-scrollbar{
  //  width: 0;
  //}

  .ant-btn-loading-icon{
    display: none !important;
  }

  .define-loading{
    display: inline-block !important;
  }
}

.outer{
  width: 100%;
  height: 100%;
  min-width: 1200px;
  background: #0D0D0D;
}

.container{
  font-size: 16px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  min-width: 1200px;
  min-height: 872px;
  background: #0D0D0D;

  &::-webkit-scrollbar-thumb, &&::-webkit-scrollbar-track{
    background: #0D0D0D;
  }

  &::-webkit-scrollbar{
    width: 0;
  }
}
.main{
  padding: 48px 80px;
  padding-bottom: 0;
  flex: 1;
  //width:100vw;
}
.content{
  border-radius: 12px;
  background:  #171923;
  position: relative;
  text-align: center;
  width:calc(100vw - 160px);
  height: 100%;

  &Title{
    padding: 200px 0 40px 0;
  }

  &Bg{
    text-align: center;
    &Icon{
      position: absolute;
      width: 100%;
      top: -70px;
    }

    .miniTitle{
      text-align: center;
      color: rgba(255, 255, 255, 0.60);
    }

    .minTitle{
      //display: flex;
      //font-family: Inter;
      //justify-content: center;
      //padding: 20px 0;
      //text-align: center;
      //font-size: 48px;
      //font-weight: 900;
      //-webkit-text-fill-color: transparent;
      //background: linear-gradient(135deg, #EBCF3E 0%, #FC9468 100%);
      //background-clip: text;
      text-align: center;

      img{
        padding: 20px 0;
        height: 40px;
      }
    }
    .subTitle{
      display: flex;
      justify-content: center;
      text-align: center;
      color: rgba(255, 255, 255, 0.60);
      margin-bottom: 32px;

      div{
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
      }
    }

    .inputBox{
      display: flex;
      justify-content: center;
    }

    .input{
      background: #171923;
      width: 770px;
      height: 72px;
      padding: 12px 32px;
      box-sizing: border-box;
      align-items: center;
      gap: 8px;
      font-size: 16px;
      border: 2px solid #2D3748;
      color: #fff;
      background: rgba(23, 25, 35, 0.50);
      //color: #718096;

      &::placeholder{
        color: #718096;
      }

      &:focus-visible{
        outline: 0px !important;
      }

      &:focus{
        border-color: #718096 !important;
        background: rgba(23, 25, 35, 0.50) !important;
      }

      &:hover{
        border-color: #718096 !important;
        background: rgba(23, 25, 35, 0.50) !important;
      }
      //  _hover={{boxShadow: "0px 4px 16px 0px rgba(0, 0, 0, 0.09)"}}
      //&:hover{
      //  color: #fff;
      //  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.09);
      //}
      //&:active{
      //  color: #fff;
      //}
    }
    .btnBox{
      text-align: center;
      margin-top: 40px;
      :global{
        :where.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover{
          color: #fff !important;
          background: #ECC94B;
        }
      }
      .btn{
        height: 48px;
        //line-height: 48px;
        border: 0;
        padding: 12px 0;
        width: 206px;
        text-align: center;
        gap: 8px;
        border-radius: 12px;
        font-weight: 600;
        color: #fff;
        background: linear-gradient(143deg, #EBCF3E 0%, #FC9468 100%);
        transition: none;

        &:hover{
          background: #ECC94B;
          color: #fff !important;
        }

        &:active{
          background: #975A16;
          color: #fff !important;
        }
      }
      .btnLoading{
        height: 48px;
        //line-height: 48px;
        border: 0;
        padding: 12px 0;
        width: 206px;
        text-align: center;
        gap: 8px;
        border-radius: 12px;
        font-weight: 600;
        color: #fff;
        background: rgba(236, 201, 75, 0.50);
        transition: none;
        &:hover{
          color: #fff !important;
        }

        &:active{
          color: #fff !important;
        }
      }
      .disabledBtn{
        height: 48px;
        border: 0;
        padding: 12px 32px;
        gap: 8px;
        border-radius: 12px;
        font-weight: 600;
        background: #2D3748;
        color: #fff;
      }
    }

    .errorBox{
      display: flex;
      justify-content: center;
      margin-top: 12px;
      .errorText{
        width: 707px;
        color:#FF7387;
      }
    }
  }
}

.footer {
  //position: fixed;
  background:  rgba(255, 255, 255, 0.02);
  padding: 45px 80px;
  width: 100%;
  height: 200px;
  margin-top: 40px;
  box-sizing: border-box;

  // rgba(255, 255, 255, 0.02)

  //&Content{
  //  //background:  rgba(255, 255, 255, 0.02);
  //  //height: 160px;
  //}

  .first{
    display: flex;
    color: #718096;
    margin-bottom: 16px;
    justify-content: space-between;
  }

  .icon{
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover{
      color:#CBD5E0
    }

    &:active{
      color:#EDF2F7
    }
  }
}


@keyframes myfirst
{
  0%   {opacity: 0}
  25%  {opacity: 0}
  50%  {opacity: 0.3}
  75%  {opacity: 0.6}
  100% {opacity: 1}
}

@keyframes errorBox
{
  0%   {opacity: 0}
  25%  {opacity: 0.5}
  50%  {opacity: 0.5}
  100% {opacity: 1}
}

.mask{
  position: absolute;
  width: 100vw;
  min-width: 1200px;
  z-index: 10;
  top: 0px;
  left: 0px;
  display: flex;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(97, 82, 0, 0.50) 0%, rgba(0, 0, 0, 0.25) 100%);
  backdrop-filter: blur(40px);

  &Text{
    position: absolute;
    color: #fff;
    z-index: 20;
    width: 100vw;
    min-width: 1200px;
    padding: 16px;
    text-align: center;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 600;
    //opacity: 1; /* 初始opacity为0，即完全透明 */
    //transition: opacity 1s ease-in-out;
    //animation: myfirst 10s;
  }

  &Cancel{
    cursor: pointer;
    text-align: right;
    font-size: 40px;
  }

  &BtnContainer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
  }

  :global{
    .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover{
      color: #000 !important;
      border-color: #ECC94B !important;
      background: #ECC94B;
    }
  }

  &Btn {
    height: 68px;
    //line-height: 48px;
    padding: 0;
    //gap: 8px;
    border-radius: 12px;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.64);
    background:  rgba(0, 0, 0, 0.64);
    backdrop-filter: blur(16px);

    &:hover {
      backdrop-filter: blur(0px);
    }

  }

  &Link{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    //padding: 16px 32px 16px 20px;
  }
}


.errorContainer{
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  animation: errorBox 2s;

  .errorIcon{
    display: inline-block;
    background: #E53E3E;
    width: 72px;
    height: 72px;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 50%;
    margin-bottom: 24px;
  }

  .errorSubTitle{
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
  }

  :global{
    .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover{
      color: #171923;
      border-color: #F6E05E !important;
      background: #F6E05E !important;
    }
  }

  .errBtn{
    width: 200px;
    height: 48px;
    background: rgba(0,0,0,0);
    border-radius: 12px;
    border: 1px solid  #ECC94B;
    background: #ECC94B;
    color:#fff;
    margin-top: 32px;
  }
}

@keyframes fadeIn
{
  0%   {opacity: 0}
  25%  {opacity: 0.25}
  50%  {opacity: 0.5}
  100% {opacity: 1}
}


.fadeIn{
  //opacity: 1; /* 初始opacity为0，即完全透明 */
  //transition: opacity 10s ease-in-out;
  animation: fadeIn 2s; /** 动画属性 */
}

@keyframes successFadeIn
{
  0%   {opacity: 0}
  25%  {opacity: 0.25}
  50%  {opacity: 0.5}
  100% {opacity: 1}
}
.successFadeIn{
  //opacity: 1; /* 初始opacity为0，即完全透明 */
  //transition: opacity 10s ease-in-out;
  animation: successFadeIn 2s; /** 动画属性 */
}